.blockquote-item__text {
  margin: 0;
  padding-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.blockquote-item__author {
  display: block;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 25px;
    margin-right: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.blockquote-item__author-link {
  display: block;
  font-size: 17px;
  line-height: 30px;
  color: $color-gray-700;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-right: 200px;
  }
}
