.blockquote-item {
  margin: 0;
}

.blockquote-item__text {
  font-size: 15px;
  line-height: 30px;
  color: $color-gray-700;
}

.blockquote-item__author {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
}

.blockquote-item__author-link {
  font-size: 17px;
  line-height: 30px;
  color: $color-gray-700;
  text-decoration: none;
}
