.button {
  display: block;
  padding: 16px 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $color-gray-700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid $color-gray-700;
}

.button--green {
  color: $color-white;
  background-color: $color-primary-100;
  border: none;
}
