.category-link {
  display: block;
  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  padding-top: 23px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 27px;

  @media (min-width: $tablet-width) {
    padding: 28px 35px 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

.category-link__image {
  fill: $color-primary-600;
  fill-opacity: 0.5;
}

.category-link__image--lamp {
  margin-right: 9px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.category-link:hover .category-link__image {
  fill-opacity: 0.7;
}

.category-link:active .category-link__image {
  fill-opacity: 0.3;
}

.category-link__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    width: 260px;
    margin: 0 auto;
  }
}

.category-link__text {
  margin: 0;
}
