.category-link {
  display: block;
  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  padding: 24px 160px 32px 30px;

  &:hover {
    padding-top: 19px;
    padding-bottom: 42px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

.category-link__text {
  margin: 0;
}
