.contacts-item {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts-item__name {
  width: 76px;
}

.contacts-item__value {
  margin: 0;
}

.contacts-item__link {
  color: $color-gray-700;
  text-decoration: none;
  border-bottom: 1px solid $color-primary-200;
}
