.contacts__container {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    padding: 73px 50px 105px;
    width: $desktop-width;
    margin: 0 auto;
  }
}

.contacts__content {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 0;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.contacts__title {
  position: relative;
  margin: 20px 0 26px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 18px 0;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__title::before {
  @media (min-width: $tablet-width) {
    content: url("../img/flag.svg");
    position: absolute;
    top: -21px;
    right: 3px;
    width: 47px;
    height: 81px;
  }

  @media (min-width: $desktop-width) {
    top: -19px;
    left: -112px;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0;
    padding: 32px 30px 20px 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}

.contacts__item {
  padding-bottom: 30px;
}

.contacts__map {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/3;
    min-height: 455px;
  }
}

.contacts__map img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 452px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
  }
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__write {
  width: 260px;
  margin: 42px auto 38px;
  padding: 14px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 60px auto 56px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
    align-self: end;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}
