.form-group {
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.form-group__title {
  width: 260px;
  margin: 25px auto 30px;
  font-size: 17px;
  font-weight: 700;
  color: $color-primary-100;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 110px;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 6;
  }
}

.form-group__list--end {
  @media (min-width: $tablet-width) {
    grid-column-end: -1;
  }
}

.form-group__list--start {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
  }
}

.form-group__item {
  padding-top: 20px;
  padding-bottom: 20px;
}
