.intro {
  padding: 66px 30px 120px;
  background-image: url("../img/bg-index-intro.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 155px 50px 370px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 358px;
  }
}

.intro__text {
  margin: 0;
  font-weight: 700;
  text-align: center;

  @include section-title;
}
