.intro {
  padding: 71px 30px 120px;
  background-image: url("../img/bg-index-intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 155px 50px 490px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 477px;
  }
}

.intro__text {
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
