.intro {
  min-height: 282px;
  padding: 70px 30px;
  background-image: url("../img/bg-index-intro.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.intro__text {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
