.modal {
  max-width: 556px;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid $color-gray-400;
  box-shadow: 0 5px 10px rgba($color-black, 0.25);

  @media (min-width: $tablet-width) {
    padding: 0 100px;
  }
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
  }
}
