.order-form__wrapper {
  padding-top: 10px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.order-form__wrapper--padding-bottom {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.order-form__wrapper--no-padding {
  padding-top: 0;
}

.order-form__wrapper:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: $color-gray-100;
  }
}

.order-form__inner {
  padding-top: 18px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 22px;
    padding-bottom: 50px;
  }
}

.order-form__small-text {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }
}

.order-form__button {
  padding: 14px 45px;
  font-size: 17px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 14px 30px;
  }
}
