.page-footer {
  background-color: $color-gray-100;
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    align-self: center;
  }
}

.page-footer__logo svg {
  fill: $color-black;
}

.page-footer__logo:hover svg {
  fill: $color-primary-500;
}

.page-footer__logo:active svg {
  fill: rgba($color-primary-500, 0.3);
}

.page-footer__socials {
  padding-top: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray-300;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    border: none;
  }
}
