.page-header {
  position: relative;
  z-index: 1;
}

.page-header__container {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
