.page-main {
  @media (min-width: $tablet-width) {
    margin-top: -65px;
    border-top: 1px solid rgba($color-black, 0.1);
  }
}

.page-main__center {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-main__title {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 74px;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 86px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 112px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-main__text {
  margin: 17px 0;
  font-size: 13px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 175px 15px;
  }
}

.page-main__catalog {
  margin-top: 30px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 68px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
  }
}

.page-main__production {
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    margin-bottom: 97px;
  }
}
