.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $primary-dark;
  background-color: $primary-light;
}
