.page-main {
  @media (min-width: $tablet-width) {
    margin-top: -65px;
    border-top: 1px solid rgba($color-black, 0.1);
  }

  @media (min-width: $desktop-width) {
    margin-top: -83px;
  }
}

.page-main__center {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-main__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 75px;

  @include section-title;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 95px;
  }
}

.page-main__text {
  margin: 17px 0;
  font-size: 13px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 175px 60px;
  }
}

.page-main__catalog {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
  }
}

.page-main__production {
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}
