.page-header {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $color-white, $color-white 88px, rgba($color-black, 0.1) 88px, rgba($color-black, 0.1) 89px, $color-gray-100 89px, $color-gray-100 100%);
  }
}

.page-header--color {
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $color-white, $color-white 88px, rgba($color-black, 0.1) 88px, rgba($color-black, 0.1) 89px, $color-gray-150 89px, $color-gray-150 100%);
  }
}

.page-header__container {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
