.production {
  position: relative;
  border: 1px solid $color-gray-200;

  @media (min-width: $tablet-width) {
    display: grid;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    align-items: start;
  }
}

.production::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 32px;
  width: 33px;
  height: 22px;
  background-image: url("../img/icon-video.svg");

  @media (min-width: $tablet-width) {
    top: 494px;
    left: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 46px;
    left: 760px;
  }
}

.production__title {
  margin: 0;
  padding: 18px 0 28px 90px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-left: 105px;
    padding-bottom: 25px;
    font-size: 20px;
    border-top: 1px solid $color-gray-200;
  }

  @media (min-width: $desktop-width) {
    padding: 93px 55px 0;
    border-top: none;
  }
}

.production__multimedia {
  margin: 0;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
  }
}

.production__text {
  margin: 35px 0 40px 33px;
  font-size: 13px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
    margin-left: 55px;
    margin-bottom: 35px;
  }
}

.production__button {
  margin: 0 30px 30px;

  @media (min-width: $tablet-width) {
    margin: 0 40px 45px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 57px 47px;
    padding: 15px;
  }
}
