.reviews__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    background-image: url("../img/bg-review.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 83px;
    padding-left: 225px;
    padding-bottom: 85px;
  }
}

.reviews__title {
  @include section-title;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
}

.reviews__list {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.reviews__buttons {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.reviews__item:not(:first-child) {
  display: none;
}

.reviews__write {
  padding: 16px 70px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    padding: 16px 30px;
  }
}
