.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.site-list__item:last-child {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.site-list__link {
  display: block;
  padding: 27px 30px 27px 76px;
  font-size: 17px;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0;
    font-size: 17px;
  }
}

.site-list__link--small {
  font-size: 15px;
}
