.size-item__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 52px;
  font-size: 17px;
  font-weight: 700;
  color: $color-gray-700;
  border: 2px solid rgba($color-gray-700, 0.1);
}

input:checked + .size-item__label {
  border-color: $color-primary-100;
}
