.size-item__label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 82px;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  color: $color-gray-700;
  border: 2px solid rgba($color-gray-700, 0.1);

  &:hover {
    border: 2px solid rgba($color-gray-700, 0.3);
  }

  &:active {
    border: 2px solid $color-primary-200;
  }

  @media (min-width: $tablet-width) {
    min-width: 112px;
  }
}

input:checked + .size-item__label {
  border-color: $color-primary-100;
}
