.text-field {
  font-size: 17px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    display: flex;
    align-items: center;
  }
}

.text-field--color {
  font-size: 17px;
  font-weight: 700;
  color: $color-primary-100;
  text-transform: uppercase;
}

.text-field__input {
  display: block;
  width: 100%;
  padding: 17px 0;
  font-family: inherit;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid $color-gray-700;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    grid-row: 1/-1;
    padding: 18px;
    font-size: 19px;
  }
}

.text-field__input::placeholder {
  color: rgba($color-black, 0.3);
}

.text-field__input--border {
  border: 2px solid $color-gray-700;
}

.text-field__input--phone {
  @media (min-width: $tablet-width) {
    background-color: inherit;
    width: auto;
  }
}

.text-field__input--email {
  @media (min-width: $tablet-width) {
    background-color: inherit;
    width: auto;
  }
}
