.week-product {
  padding: 30px;
}

.week-product__title {
  font-size: 25px;
  line-height: 30px;
}

.week-product__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary-100;
}

.week-product__description {
  color: $color-gray-700;
}

.week-product__price {
  font-size: 17px;
  font-weight: 700;
  color: $color-gray-700;
  text-align: center;
}
